.getAllPeople {
    width: 100%;
    height: 92vh;
    box-sizing: border-box;
    border-right: #DDDDDD solid 2px;
    padding: 0 0 0 16px;
    overflow-y: scroll;
}

.getAllPeople::-webkit-scrollbar {
    width: 0;
}

@media(max-width: 420px) {
    .getAllPeople {
        padding: 0;
        border-right: none;
        height: 102vh;
    }
}